In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.4.5-bin-hadoop2.7')
from pyspark.sql import SparkSession

from pyspark.ml.linalg import Vector
from pyspark.ml.feature import VectorAssembler, StringIndexer
from pyspark.ml.regression import LinearRegression
from pyspark.sql.functions import corr
import os
os.chdir('/home/ubuntu/data')

In [2]:
spark = SparkSession.builder.appName('cruise_ship').getOrCreate()

In [3]:
df = spark.read.csv('cruise_ship_info.csv', inferSchema=True, header=True) 
df.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [4]:
for row in df.head(5):
    print(row,'\n')

Row(Ship_name='Journey', Cruise_line='Azamara', Age=6, Tonnage=30.276999999999997, passengers=6.94, length=5.94, cabins=3.55, passenger_density=42.64, crew=3.55)

Row(Ship_name='Quest', Cruise_line='Azamara', Age=6, Tonnage=30.276999999999997, passengers=6.94, length=5.94, cabins=3.55, passenger_density=42.64, crew=3.55)

Row(Ship_name='Celebration', Cruise_line='Carnival', Age=26, Tonnage=47.262, passengers=14.86, length=7.22, cabins=7.43, passenger_density=31.8, crew=6.7)

Row(Ship_name='Conquest', Cruise_line='Carnival', Age=11, Tonnage=110.0, passengers=29.74, length=9.53, cabins=14.88, passenger_density=36.99, crew=19.1)

Row(Ship_name='Destiny', Cruise_line='Carnival', Age=17, Tonnage=101.353, passengers=26.42, length=8.92, cabins=13.21, passenger_density=38.36, crew=10.0)

In [5]:
df.groupBy('Cruise_line').count().orderBy('count').show()

+-----------------+-----+
|      Cruise_line|count|
+-----------------+-----+
|           Orient|    1|
|          Crystal|    2|
|           Disney|    2|
|          Azamara|    2|
|           Cunard|    3|
|          Oceania|    3|
|         Windstar|    3|
|         Seabourn|    3|
|        Silversea|    4|
|Regent_Seven_Seas|    5|
|              P&O|    6|
|             Star|    6|
|              MSC|    8|
|        Celebrity|   10|
|            Costa|   11|
|        Norwegian|   13|
| Holland_American|   14|
|         Princess|   17|
|         Carnival|   22|
|  Royal_Caribbean|   23|
+-----------------+-----+

In [6]:
indexer = StringIndexer(inputCol='Cruise_line', outputCol='Cruise_cat')
indexed = indexer.fit(df).transform(df)
for row in indexed.head(5):
    print(row, '\n')

Row(Ship_name='Journey', Cruise_line='Azamara', Age=6, Tonnage=30.276999999999997, passengers=6.94, length=5.94, cabins=3.55, passenger_density=42.64, crew=3.55, Cruise_cat=16.0)

Row(Ship_name='Quest', Cruise_line='Azamara', Age=6, Tonnage=30.276999999999997, passengers=6.94, length=5.94, cabins=3.55, passenger_density=42.64, crew=3.55, Cruise_cat=16.0)

Row(Ship_name='Celebration', Cruise_line='Carnival', Age=26, Tonnage=47.262, passengers=14.86, length=7.22, cabins=7.43, passenger_density=31.8, crew=6.7, Cruise_cat=1.0)

Row(Ship_name='Conquest', Cruise_line='Carnival', Age=11, Tonnage=110.0, passengers=29.74, length=9.53, cabins=14.88, passenger_density=36.99, crew=19.1, Cruise_cat=1.0)

Row(Ship_name='Destiny', Cruise_line='Carnival', Age=17, Tonnage=101.353, passengers=26.42, length=8.92, cabins=13.21, passenger_density=38.36, crew=10.0, Cruise_cat=1.0)

In [7]:
indexed.columns

['Ship_name',
 'Cruise_line',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew',
 'Cruise_cat']

In [8]:
assemblered= VectorAssembler(inputCols=['Age', 'Tonnage', 'passengers', 'length', 'cabins', 'passenger_density', 'Cruise_cat'], outputCol='features')
output = assemblered.transform(indexed)
output.select('features', 'crew').show()

+--------------------+----+
|            features|crew|
+--------------------+----+
|[6.0,30.276999999...|3.55|
|[6.0,30.276999999...|3.55|
|[26.0,47.262,14.8...| 6.7|
|[11.0,110.0,29.74...|19.1|
|[17.0,101.353,26....|10.0|
|[22.0,70.367,20.5...| 9.2|
|[15.0,70.367,20.5...| 9.2|
|[23.0,70.367,20.5...| 9.2|
|[19.0,70.367,20.5...| 9.2|
|[6.0,110.23899999...|11.5|
|[10.0,110.0,29.74...|11.6|
|[28.0,46.052,14.5...| 6.6|
|[18.0,70.367,20.5...| 9.2|
|[17.0,70.367,20.5...| 9.2|
|[11.0,86.0,21.24,...| 9.3|
|[8.0,110.0,29.74,...|11.6|
|[9.0,88.5,21.24,9...|10.3|
|[15.0,70.367,20.5...| 9.2|
|[12.0,88.5,21.24,...| 9.3|
|[20.0,70.367,20.5...| 9.2|
+--------------------+----+
only showing top 20 rows

In [9]:
final_data = output.select(['features', 'Crew'])
train_data, test_data = final_data.randomSplit([0.7, 0.3], seed=42)

In [10]:
train_data.describe().show()

+-------+-----------------+
|summary|             Crew|
+-------+-----------------+
|  count|              120|
|   mean|7.788833333333344|
| stddev| 3.31507333742302|
|    min|             0.59|
|    max|             21.0|
+-------+-----------------+

In [11]:
test_data.describe().show()

+-------+------------------+
|summary|              Crew|
+-------+------------------+
|  count|                38|
|   mean|7.8110526315789475|
| stddev|  4.09116965332534|
|    min|              0.59|
|    max|              19.1|
+-------+------------------+

In [12]:
lr_model = LinearRegression(labelCol='Crew')
trained_model = lr_model.fit(train_data)
summary_of_model = trained_model.summary

In [13]:
summary_of_model.coefficientStandardErrors

[0.01102272851145932,
 0.011267027478263922,
 0.04288467070751924,
 0.09374550306491569,
 0.1050135955704091,
 0.01580469375079676,
 0.016335110230517008,
 0.9148987262754036]

In [14]:
prediction = trained_model.evaluate(test_data)

In [15]:
prediction.rootMeanSquaredError

1.5545853977058912

In [16]:
prediction.r2

0.8517085669568396

In [17]:
prediction.meanSquaredError

2.416735758760384

In [18]:
prediction.meanAbsoluteError

0.8515043289821957

In [19]:
df.select(corr('Crew', 'passengers')).show()

+----------------------+
|corr(Crew, passengers)|
+----------------------+
|    0.9152341306065384|
+----------------------+

In [20]:
df.select(corr('Crew', 'cabins')).show()

+------------------+
|corr(Crew, cabins)|
+------------------+
|0.9508226063578497|
+------------------+